BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
UseTab: Always
MaxEmptyLinesToKeep: 0
KeepEmptyLinesAtTheStartOfBlocks: false
EmptyLineBeforeAccessModifier: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Merge
